@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.checkbox__label::before, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-vk:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-fb:before {
  content: "\e902";
}

._icon-prew-arrow:before {
  content: "\e903";
}

._icon-check-arrow:before, .checkbox__label:before {
  content: "\e904";
}

._icon-phonecall:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4b4b4b;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.popup-show {
  overflow: hidden;
  touch-action: none;
}

@media (max-width: 51.875em) and (min-width: 47.99875em) {
  .lock .wrapper {
    overflow: hidden;
    touch-action: none;
  }
  .menu-open .wrapper {
    position: relative;
    transition: all 0.5s ease 0s;
  }
  .menu-open .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
  }
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@media (max-width: 51.875em) {
  .lock body {
    overflow: hidden;
    touch-action: none;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 68.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #f3eaea;
  padding: 1.25rem 1.25rem 4.375rem;
  width: 100%;
  max-width: 37.5rem;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

.popup__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.popup__close {
  align-self: flex-end;
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 50;
}
.popup__close::before, .popup__close::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #4b4b4b;
}
.popup__close::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.popup__close::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.popup__close:focus {
  box-shadow: inset 0 0 8px 0px #f5a5f8;
  outline: 1px solid #be52a6;
}
.popup__body {
  padding: 0px 3.125rem;
}
.popup__titles:not(:last-child) {
  margin-bottom: 1.5625em;
}
.popup__main-title {
  line-height: 100%;
  color: #4b4b4b;
}
@media (min-width: 47.99875em) {
  .popup__main-title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .popup__main-title {
    font-size: calc(
				1.25rem + 1.75 * (((100vw - 20rem)) / ((27.99875)))
			);
  }
}
@media (max-width: 20em) {
  .popup__main-title {
    font-size: 1.25rem;
  }
}
.popup__main-title:not(:last-child) {
  margin-bottom: 0.1041666667em;
}
.popup__sub-title {
  line-height: 182%;
}
.form-popup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  row-gap: 2rem;
  column-gap: 1.875rem;
}
.form-popup__line {
  grid-column: span 2;
  position: relative;
}
.form-popup__line .form__error {
  color: #ae0303;
  font-size: 0.75rem;
  line-height: 100%;
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  transform: translateY(-50%);
}
.form-popup__check {
  align-self: center;
}
.form-popup__input {
  padding: 1rem 1.375rem 1.0625rem;
  border: 1px solid #bebebe;
  border-radius: 0.625rem;
  width: 100%;
  color: #4b4b4b;
  transition: all 0.3s ease 0s;
}
.form-popup__input::placeholder {
  font-size: 1.125rem;
  line-height: 100%;
  color: #dcdcdc;
}
.form-popup__input:active, .form-popup__input:focus {
  box-shadow: inset 0 0 8px 0px #f5a5f8;
  outline: 1px solid #be52a6;
}
@media (any-hover: hover) {
  .form-popup__input:hover {
    background-color: rgba(190, 82, 166, 0.1);
  }
  .form-popup__input:hover::placeholder {
    color: rgba(75, 75, 75, 0.8);
  }
}
.form-popup__input._form-error {
  border-color: #ae0303;
}
.form-popup__button {
  font-size: 0.875rem;
  color: #161616;
  border: 1px solid #292929;
  border-radius: 0.625rem;
  padding: 1.125rem 3.5rem 1.0625rem;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .form-popup__button:hover {
    color: #be52a6;
    border-color: #be52a6;
  }
}
.form-popup__button:focus {
  box-shadow: inset 0 0 8px 0px #f5a5f8;
  outline: none;
  border-color: #be52a6;
}

.checkbox {
  min-height: 1.5rem;
  position: relative;
}
.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 0.6875rem;
  cursor: pointer;
}
.checkbox__label::after {
  content: "";
  flex: 0 0 1.5rem;
  height: 1.5rem;
  border: 1px solid #292929;
  border-radius: 0.1875rem;
}
._form-error .checkbox__label::after {
  border-color: #ae0303;
}
._form-focus .checkbox__label::after {
  box-shadow: inset 0 0 8px 0px #f5a5f8;
  border-color: #be52a6;
}
.checkbox__label::before {
  font-size: 0.625rem;
  color: #292929;
  position: absolute;
  top: 50%;
  left: 0.375rem;
  transform: scale(0) translateY(-50%);
  transition: transform 0.3s ease 0s;
}
.checkbox__text {
  font-size: 0.75rem;
  line-height: 100%;
  color: #161616;
}

.checkbox__input:checked + .checkbox__label::before {
  transform: scale(1) translateY(-50%);
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.main-block__title, .main-block__text-bg, .popup__main-title {
  font-family: "Merriweather", serif;
}

.btn {
  font-weight: 500;
  line-height: 100%;
  padding: 1.1875rem 3.5rem;
  border: 2px solid #4b4b4b;
  border-radius: 0.625rem;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .btn:hover {
    color: #be52a6;
    border-color: #be52a6;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 51.875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.header {
  position: relative;
  z-index: 1;
}
@media (min-width: 51.875em) {
  .header {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.header__container {
  padding: 2rem 0.9375rem 0.125rem;
  display: flex;
  align-items: center;
}
@media (min-width: 100em) {
  .header__container {
    column-gap: 8.4375rem;
  }
}
@media (min-width: 51.875em) and (max-width: 100em) {
  .header__container {
    column-gap: calc(
				1.875rem + 6.5625 * (((100vw - 51.875rem)) / ((48.125)))
			);
  }
}
@media (max-width: 70.25em) {
  .header__container {
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 70.25em) and (min-width: 70.25em) {
  .header__container {
    padding-left: 4.375rem;
  }
}
@media (max-width: 70.25em) and (min-width: 51.875em) and (max-width: 70.25em) {
  .header__container {
    padding-left: calc(
				2.5rem + 1.875 * (((100vw - 51.875rem)) / ((18.375)))
			);
  }
}
@media (max-width: 51.875em) {
  .header__container {
    column-gap: 3.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .menu-open .header__container {
    column-gap: 5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  .menu-open .header__container {
    column-gap: calc(
				2.5rem + 2.5 * (((100vw - 23.4375rem)) / ((24.56125)))
			);
  }
}
@media (max-width: 47.99875em) and (max-width: 23.4375em) {
  .menu-open .header__container {
    column-gap: 2.5rem;
  }
}
.header__logo {
  margin-top: -25px;
  flex: 0 1 6.75rem;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 70.25em) {
  .header__logo {
    margin-top: -15px;
  }
}
@media (max-width: 51.875em) {
  .header__logo {
    order: 1;
    margin-top: 0;
  }
}
@media (max-width: 51.875em) and (min-width: 47.99875em) {
  .menu-open .header__logo {
    opacity: 0.1;
  }
  .menu-open .header__logo::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(105, 103, 103, 0.4);
  }
}
@media (max-width: 47.99875em) and (min-width: 22.5em) {
  .menu-open .header__logo {
    box-shadow: -6px 10px 15px 0px #eebee4;
  }
}
@media (min-width: 51.875em) {
  .header__menu {
    flex: 1 1 auto;
  }
}
@media (max-width: 51.875em) {
  .header__menu {
    order: 3;
  }
}
@media (max-width: 51.875em) {
  .header__contacts {
    order: 2;
    flex: 1 1 auto;
    text-align: right;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .header__contacts {
    position: relative;
    z-index: 5;
  }
}
@media (max-width: 22.5em) {
  .menu-open .header__contacts {
    text-align: left;
  }
}
.header__phone {
  display: block;
  line-height: 100%;
}
@media (min-width: 61.99875em) {
  .header__phone {
    font-size: 1.5625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .header__phone {
    font-size: calc(
				1.25rem + 0.3125 * (((100vw - 47.99875rem)) / ((14)))
			);
  }
}
@media (max-width: 47.99875em) {
  .header__phone {
    font-size: 1.25rem;
  }
}
.header__phone:not(:last-child) {
  margin-bottom: 0.625em;
}
@media (any-hover: hover) {
  .header__phone:hover {
    animation: pulse 1s linear 0s infinite;
  }
}
.header__phone::before {
  display: none;
  font-size: 0;
}
@media (max-width: 51.875em) {
  .header__phone {
    font-size: 0;
    display: inline-block;
  }
  .header__phone::before {
    display: block;
    font-size: 1.375rem;
    font-weight: 700;
    color: #161616;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .header__phone::before {
    font-size: 2.5rem;
    animation: pulse 1.05s linear 0s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    color: #be52a6;
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
    color: #be52a6;
  }
  100% {
    transform: scale3d(1, 1, 1);
    color: #be52a6;
  }
}
@media (max-width: 51.875em) {
  .menu__body {
    position: fixed;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 4;
    background-color: #eceaea;
    transition: right 0.3s ease 0s;
    padding: 8.3125rem 1.25rem 3.125rem;
    overflow: auto;
  }
}
@media (max-width: 51.875em) and (min-width: 47.99875em) {
  .menu__body {
    width: 27.0625rem;
  }
}
@media (max-width: 51.875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  .menu__body {
    width: calc(
				15.3125rem + 11.75 * (((100vw - 23.4375rem)) / ((24.56125)))
			);
  }
}
@media (max-width: 51.875em) and (max-width: 23.4375em) {
  .menu__body {
    width: 15.3125rem;
  }
}
@media (max-width: 51.875em) {
  .menu__body::before {
    content: "";
    position: fixed;
    height: 7.3125rem;
    top: 0;
    right: -100%;
    transition: right 0.3s ease 0s;
    z-index: 4;
    background-color: #eceaea;
  }
}
@media (max-width: 51.875em) and (min-width: 47.99875em) {
  .menu__body::before {
    width: 27.0625rem;
  }
}
@media (max-width: 51.875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  .menu__body::before {
    width: calc(
				15.3125rem + 11.75 * (((100vw - 23.4375rem)) / ((24.56125)))
			);
  }
}
@media (max-width: 51.875em) and (max-width: 23.4375em) {
  .menu__body::before {
    width: 15.3125rem;
  }
}
@media (max-width: 51.875em) and (max-width: 47.99875em) {
  .menu__body::before {
    box-shadow: 6px 0px 15px 0px #eebee4;
  }
}
@media (max-width: 51.875em) {
  .menu-open .menu__body {
    right: 0;
  }
  .menu-open .menu__body::before {
    right: 0;
  }
}
@media (max-width: 22.5em) {
  .menu__body {
    width: 100%;
  }
  .menu__body::before {
    width: 100%;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}
@media (min-width: 70.25em) {
  .menu__list {
    column-gap: 3.75rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 70.25em) {
  .menu__list {
    column-gap: calc(
				1.5625rem + 2.1875 * (((100vw - 47.99875rem)) / ((22.25125)))
			);
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    column-gap: 1.5625rem;
  }
}
@media (max-width: 51.875em) {
  .menu-open .menu__list {
    flex-direction: column;
  }
}
@media (max-width: 51.875em) and (min-width: 23.4375em) {
  .menu-open .menu__list:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 51.875em) and (min-width: 20em) and (max-width: 23.4375em) {
  .menu-open .menu__list:not(:last-child) {
    margin-bottom: calc(
				2.5rem + 1.875 * (((100vw - 20rem)) / ((3.4375)))
			);
  }
}
@media (max-width: 51.875em) and (max-width: 20em) {
  .menu-open .menu__list:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 51.875em) {
  .menu-open .menu__item {
    text-align: center;
  }
}
.menu__link {
  display: block;
  font-weight: 500;
  line-height: 100%;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #be52a6;
  }
}
@media (max-width: 51.875em) {
  .menu-open .menu__link {
    padding: 1.375rem 0.3125rem;
    font-size: 1.5625rem;
  }
}

.main-block__wide-container {
  position: relative;
  max-width: 100rem;
  min-height: 45rem;
  box-sizing: content-box;
  margin: 0 auto;
}
.main-block__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin-top: -80px;
}
@media (min-width: 100em) {
  .main-block__bg {
    min-height: 50rem;
  }
}
@media (min-width: 70.25em) and (max-width: 100em) {
  .main-block__bg {
    min-height: calc(
				66.5rem + -16.5 * (((100vw - 70.25rem)) / ((29.75)))
			);
  }
}
@media (min-width: 100em) {
  .main-block__bg {
    height: 111.12%;
  }
}
@media (max-width: 70.25em) {
  .main-block__bg {
    margin-top: -132px;
    height: 116.12%;
  }
}
@media (max-width: 51.875em) {
  .main-block__bg {
    height: 112.5%;
  }
}
@media (max-width: 47.99875em) {
  .main-block__bg {
    height: 100%;
  }
}
.main-block__image-ibg {
  position: absolute;
  width: 61%;
  height: 100%;
  bottom: 0;
  right: 0;
}
@media (min-width: 100em) {
  .main-block__image-ibg {
    width: 61rem;
  }
}
@media (min-width: 51.875em) and (max-width: 100em) {
  .main-block__image-ibg {
    width: calc(
				27.0625rem + 33.9375 * (((100vw - 51.875rem)) / ((48.125)))
			);
  }
}
@media (max-width: 100em) {
  .main-block__image-ibg img {
    object-position: 35% 50%;
  }
}
@media (max-width: 51.875em) and (min-width: 51.875em) {
  .main-block__image-ibg {
    width: 27.0625rem;
  }
}
@media (max-width: 51.875em) and (min-width: 23.4375em) and (max-width: 51.875em) {
  .main-block__image-ibg {
    width: calc(
				15.3125rem + 11.75 * (((100vw - 23.4375rem)) / ((28.4375)))
			);
  }
}
@media (max-width: 51.875em) and (max-width: 23.4375em) {
  .main-block__image-ibg {
    width: 15.3125rem;
  }
}
.main-block__text-bg {
  position: absolute;
  bottom: 0;
  right: -0.9375rem;
  font-size: 12.5rem;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
@media (min-width: 100em) {
  .main-block__text-bg {
    font-size: 12.5rem;
  }
}
@media (min-width: 70.25em) and (max-width: 100em) {
  .main-block__text-bg {
    font-size: calc(
				8.3125rem + 4.1875 * (((100vw - 70.25rem)) / ((29.75)))
			);
  }
}
@media (max-width: 70.25em) {
  .main-block__text-bg {
    position: relative;
    z-index: 1;
    color: rgba(75, 75, 75, 0.12);
    right: 0.75rem;
    top: 40px;
  }
}
@media (max-width: 70.25em) and (min-width: 70.25em) {
  .main-block__text-bg {
    font-size: 12.5rem;
  }
}
@media (max-width: 70.25em) and (min-width: 51.875em) and (max-width: 70.25em) {
  .main-block__text-bg {
    font-size: calc(
				10.3125rem + 2.1875 * (((100vw - 51.875rem)) / ((18.375)))
			);
  }
}
@media (max-width: 51.875em) and (min-width: 51.875em) {
  .main-block__text-bg {
    font-size: 10.3125rem;
  }
}
@media (max-width: 51.875em) and (min-width: 47.99875em) and (max-width: 51.875em) {
  .main-block__text-bg {
    font-size: calc(
				9.375rem + 0.9375 * (((100vw - 47.99875rem)) / ((3.87625)))
			);
  }
}
@media (max-width: 51.875em) {
  .menu-open .main-block__text-bg {
    z-index: 0;
  }
}
@media (max-width: 47.99875em) {
  .main-block__text-bg {
    top: 0;
    order: 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    justify-self: start;
    align-self: start;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-block__text-bg {
    font-size: 9.375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  .main-block__text-bg {
    font-size: calc(
				6.875rem + 2.5 * (((100vw - 23.4375rem)) / ((24.56125)))
			);
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-block__text-bg {
    left: 5.3125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  .main-block__text-bg {
    left: calc(
				-0.625rem + 5.9375 * (((100vw - 23.4375rem)) / ((24.56125)))
			);
  }
}
@media (max-width: 47.99875em) and (max-width: 23.4375em) {
  .main-block__text-bg {
    left: -0.625rem;
  }
}
@media (max-width: 23.4375em) {
  .main-block__text-bg {
    left: -15px;
  }
}
@media (max-width: 23.4375em) and (min-width: 23.4375em) {
  .main-block__text-bg {
    font-size: 6.875rem;
  }
}
@media (max-width: 23.4375em) and (min-width: 20em) and (max-width: 23.4375em) {
  .main-block__text-bg {
    font-size: calc(
				5rem + 1.875 * (((100vw - 20rem)) / ((3.4375)))
			);
  }
}
@media (max-width: 23.4375em) and (max-width: 20em) {
  .main-block__text-bg {
    font-size: 5rem;
  }
}
.main-block__container {
  min-height: 41rem;
  padding-top: 2rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-rows: auto;
  row-gap: 3.125rem;
  align-items: center;
}
@media (min-width: 100em) {
  .main-block__container {
    min-height: 41rem;
  }
}
@media (min-width: 70.25em) and (max-width: 100em) {
  .main-block__container {
    min-height: calc(
				58.25rem + -17.25 * (((100vw - 70.25rem)) / ((29.75)))
			);
  }
}
@media (min-width: 100em) {
  .main-block__container {
    padding-bottom: 2rem;
  }
}
@media (min-width: 70.25em) and (max-width: 100em) {
  .main-block__container {
    padding-bottom: calc(
				3.375rem + -1.375 * (((100vw - 70.25rem)) / ((29.75)))
			);
  }
}
@media (max-width: 70.25em) {
  .main-block__container {
    align-items: end;
  }
}
@media (max-width: 70.25em) and (min-width: 70.25em) {
  .main-block__container {
    padding-bottom: 0rem;
  }
}
@media (max-width: 70.25em) and (min-width: 51.875em) and (max-width: 70.25em) {
  .main-block__container {
    padding-bottom: calc(
				2.125rem + -2.125 * (((100vw - 51.875rem)) / ((18.375)))
			);
  }
}
@media (max-width: 70.25em) and (max-width: 51.875em) {
  .main-block__container {
    padding-bottom: 2.125rem;
  }
}
@media (max-width: 70.25em) and (min-width: 70.25em) {
  .main-block__container {
    padding-left: 4.375rem;
  }
}
@media (max-width: 70.25em) and (min-width: 51.875em) and (max-width: 70.25em) {
  .main-block__container {
    padding-left: calc(
				2.5rem + 1.875 * (((100vw - 51.875rem)) / ((18.375)))
			);
  }
}
@media (max-width: 51.875em) and (min-width: 51.875em) {
  .main-block__container {
    padding-left: 2.5rem;
  }
}
@media (max-width: 51.875em) and (min-width: 47.99875em) and (max-width: 51.875em) {
  .main-block__container {
    padding-left: calc(
				0.9375rem + 1.5625 * (((100vw - 47.99875rem)) / ((3.87625)))
			);
  }
}
@media (max-width: 51.875em) and (max-width: 47.99875em) {
  .main-block__container {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .main-block__container {
    padding-top: 0.9375rem;
    row-gap: 1.25rem;
    padding-bottom: 0;
  }
}
@media (max-width: 70.25em) and (min-width: 70.25em) {
  .main-block__body {
    padding-top: 10.625rem;
  }
}
@media (max-width: 70.25em) and (min-width: 51.875em) and (max-width: 70.25em) {
  .main-block__body {
    padding-top: calc(
				0rem + 10.625 * (((100vw - 51.875rem)) / ((18.375)))
			);
  }
}
@media (max-width: 51.875em) and (min-width: 51.875em) {
  .main-block__body {
    padding-top: 9.375rem;
  }
}
@media (max-width: 51.875em) and (min-width: 47.99875em) and (max-width: 51.875em) {
  .main-block__body {
    padding-top: calc(
				0rem + 9.375 * (((100vw - 47.99875rem)) / ((3.87625)))
			);
  }
}
@media (max-width: 47.99875em) {
  .main-block__body {
    order: 2;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #f3eaea;
    margin: 0px -15px;
    padding: 2.1875rem 0.9375rem 2.5rem;
  }
  .menu-open .main-block__body {
    position: relative;
    z-index: 0;
    transition: all 0.5s ease 0s;
  }
  .menu-open .main-block__body::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 75, 0.4);
    backdrop-filter: blur(7px);
  }
}
.main-block__title {
  line-height: 100%;
  color: #4b4b4b;
}
@media (min-width: 51.875em) {
  .main-block__title {
    font-size: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 51.875em) {
  .main-block__title {
    font-size: calc(
				1.875rem + 2.8125 * (((100vw - 20rem)) / ((31.875)))
			);
  }
}
@media (max-width: 20em) {
  .main-block__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 100em) {
  .main-block__title {
    max-width: calc(
				21.875rem + 15.625 * (((100vw - 47.99875rem)) / ((52.00125)))
			);
  }
}
@media (max-width: 47.99875em) {
  .main-block__title {
    max-width: 21.875rem;
  }
}
.main-block__title:not(:last-child) {
  margin-bottom: 0.24em;
}
@media (max-width: 47.99875em) {
  .main-block__title {
    max-width: 100%;
  }
}
.main-block__slogan {
  line-height: 182%;
}
.main-block__slogan:not(:last-child) {
  margin-bottom: 2.0555555556em;
}
@media (min-width: 23.4375em) and (max-width: 51.875em) {
  .main-block__slogan:not(:last-child) {
    margin-bottom: calc(
				1.5625rem + 0.75 * (((100vw - 23.4375rem)) / ((28.4375)))
			);
  }
}
@media (max-width: 23.4375em) {
  .main-block__slogan:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.main-block__social {
  display: flex;
  align-items: center;
  column-gap: 1.1875rem;
}
@media (max-width: 47.99875em) {
  .main-block__social {
    justify-content: center;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-block__social {
    column-gap: 3.75rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  .main-block__social {
    column-gap: calc(
				1.875rem + 1.875 * (((100vw - 23.4375rem)) / ((24.56125)))
			);
  }
}
@media (max-width: 47.99875em) and (max-width: 23.4375em) {
  .main-block__social {
    column-gap: 1.875rem;
  }
}
.main-block__link::before {
  font-size: 1.5rem;
  color: #4b4b4b;
  transition: color 0.3s ease 0s;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .main-block__link::before {
    font-size: 2.5rem;
  }
}
@media (any-hover: hover) {
  .main-block__link:hover::before {
    color: #be52a6;
  }
}
.main-block__link._icon-insta::before {
  font-weight: 400;
}
